{
  "presets": [
    [
      "@babel/preset-env", {
        "loose": false,
        "targets": {
          "chrome": "69",
          "ie": "9",
          "opera": "54",
          "firefox": "64",
          "safari": "10"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}